<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <ul v-if="emails.length === 10"> 
            <!-- qui vengono create le mail solo se ce ne sono 10 -->
            <li v-for="email in emails" :key="email">{{ email }}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <script src="js/script.js"></script>
</body>
</html>
